body {
    margin: 0;
    background-color: #AAA;
    background-image: url("https://picsum.photos/1600/1400/?image=563");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  #main-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1em 2em -1em rgba(0, 0, 0, 1);
    font-family: Raleway, sans-serif;
    font-weight: 300;
    left: 30%;
    line-height: 1.5;
    text-align: center;
    padding: 2em 1em ;
    width: 40%;
    min-height: 100%;
    z-index: 10;
  }
  
  #main-content h1 {
    
    text-align: center;
    padding: 50px;
    font-size: 60px;
    color: purple;
    text-transform: uppercase;
  }

  #main-content div {
    padding-top: 150px;
  }

  @media only screen and (max-width: 768px) {
    #main-content {
      left: 0%;
      width: 100%;
    }
  }