@media only screen and (orientation: landscape) {
$items: 4;
$animation-time: 4s;
$transition-time: 2s;
$scale_min: 0.10;
$scale_max: 0.20;

$total-time: (($animation-time * ($items + 1))/2);

.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: $total-time;
  opacity: 0;
  transform: scale($scale_min);

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      top: -30% +50%*($i/3);
      left: -40% + 79%*(($i+1)%2);
      animation-name: kenburns-#{$i};
      z-index: ($items - $i);
    }
  }
}

@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / (2 * $total-time));

    $times: ();

    

    @for $j from 1 through $items {
      $times: append($times, $animation-time-percent * $j);
    }

    $scale: $scale_min;
    $opacity: 0;

    @if not ($i == $items) {
      #{0%} { opacity: $opacity; transform: scale($scale_min)}
  }

    @for $j from 1 through $items {
      
      @if($j == $i) {
        $opacity: 1;
        $scale: $scale_max;;
      }
      @else {
        $opacity: 0;
        $scale: $scale_min;
      }
      #{nth($times,$j)} { opacity: $opacity; transform: scale($scale);}
    }

    // #{100%} { opacity: $opacity; transform: scale($scale_min)}
  

    // @if($i == 1) {
    //   $scale-plus: ($scale * (100% - $t5) / $t4);
    //   $scale-plus-base-1: (1 + ($scale + $scale-plus) / 100%);

    //   #{$t5} { opacity: 0; transform: scale($scale-plus-base-1); }
    //   100% { opacity: 1; }
    // }
  }
}


// Presentational stuff
// h1 {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate3d(-50%, -50%, 0);
//   z-index: 99;
//   text-align: center;
//   font-family: Raleway, sans-serif;
//   font-weight: 300;
//   text-transform: uppercase;
//   background-color: rgba(255,255,255,.75);
//   box-shadow: 0 1em 2em -1em rgba(0,0,0,.5);
//   padding: 1em 2em;
//   line-height: 1.5;

//   small {
//     display: block;
//     text-transform: lowercase;
//     font-size: .7em;

//     &:first-child {
//       border-bottom: 1px solid rgba(0,0,0,.25);
//       padding-bottom: .5em;
//     }

//     &:last-child {
//       border-top: 1px solid rgba(0,0,0,.25);
//       padding-top: .5em;
//     }
//   }
// }
}